
<mat-toolbar color="primary">
  <a
    routerLink="/"
    matIconButton
    class="example-icon colWhite"
    aria-label="Example icon-button with menu icon colWhite"
  >
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>Exam Portal</span>
  <span class="example-spacer"></span>
  <a *ngIf="!login.isLoggedIn()"
    routerLink="/login"
    matIconButton
    class="example-icon favorite-icon mr20 mr20 colWhite"
    aria-label="Example icon-button with heart icon"
  >
    Login
  </a>
  <a *ngIf="!login.isLoggedIn()"
    [routerLink]="'/signup'"
    matIconButton
    class="example-icon favorite-icon mr20 colWhite"
    aria-label="Example icon-button with heart icon"
  >
    Register
  </a>
   <a  *ngIf="login.isLoggedIn()"
    matIconButton
    class="example-icon favorite-icon mr20 colWhite"
    aria-label="Example icon-button with heart icon"
  >
    {{login.getUser().username}}
  </a>
   <a *ngIf="login.isLoggedIn()"
   (click)="logout()"
    matIconButton
    class="example-icon favorite-icon mr20 colWhite"
    aria-label="Example icon-button with heart icon"
  >
    Logout
  </a>
</mat-toolbar>

