<mat-card>
  <h1 class="ml10">Add New Quiz</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form>
          <mat-form-field class="w100" appearance="fill">
            <mat-label>Enter Title</mat-label>
            <input type="text" name="title" placeholder="Enter Here" matInput />
          </mat-form-field>
          <mat-form-field class="w100" appearance="fill">
            <mat-label>Enter Description</mat-label>
            <textarea
              type="text"
              name="description"
              placeholder="Enter Here"
              matInput
              rows="4"
            ></textarea>
          </mat-form-field>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="w100" appearance="fill">
                <mat-label>Enter Maximum Marks</mat-label>
                <input
                  type="text"
                  name="maxMarks"
                  placeholder="Enter Here"
                  matInput
                />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w100" appearance="fill">
                <mat-label>Number Of Questions</mat-label>
                <input
                  type="text"
                  name="noOfQuestions"
                  placeholder="Enter Here"
                  matInput
                />
              </mat-form-field>
            </div>
          </div>
          <section class="example-section">
            <mat-slide-toggle
              class="example-margin mt10 mb10"
              color="primary"
              [checked]="false"
            >
              Publish Status
            </mat-slide-toggle>
          </section>

          <mat-form-field appearance="fill" calss="mt10">
            <mat-label>Choose an option</mat-label>
            <mat-select name="category">
              <mat-option *ngFor="let c of categories" [value]="c.cId">
                {{
                c.title
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="container text-center mb10">
            <button mat-raised-button color="primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
