<mat-card>
  <h1 class="ml20">Add New Category</h1>
  <div class="bootstrap-wrapper">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <mat-card-content>
          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Title</mat-label>
              <input
              autofocus
              required
                type="text"
                name="title"
                [(ngModel)] ="category.title"
                matInput
                placeholder="Enter Here"
                
              />
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea
                name="description"
                matInput
                placeholder="Enter Category Description"
                [(ngModel)] = "category.description"
                rows="10"
              ></textarea>
            </mat-form-field>

            <div class="container text-center mt15">
              <button mat-raised-button color="primary">Add</button>
            </div>
          </form>
        </mat-card-content>
      </div>
    </div>
  </div>
</mat-card>
